* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei UI', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #202020;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.question-box {
  margin: 5px 0;
  border: 10px solid rgb(138, 212, 138);
  border-bottom: 0;
  background-color: rgb(138, 212, 138);
  border-radius: 10px;
  width: 500px;
}

.answer-box {
  margin: 5px 0;
  border: 10px solid rgb(138, 212, 138);
  border-bottom: 0;
  background-color: rgb(138, 212, 138);
  border-radius: 10px;
  width: 500px;
}

.text-field {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.15rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.extra-field {
  display: flex;
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.05rem;
  justify-content: center;
}

.info-box {
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
